
.c1o1 {
  width: 100%;
}

.c1o2 {
  width: 50%;
}

.c1o3 {
  width: 33.333333333%;
}

.c2o3 {
  width: 66.666666667%;
}

.c1o4 {
  width: 25%;
}

.c3o4 {
  width: 75%;
}

.c1o5 {
  width: 20%;
}

.c2o5 {
  width: 40%;
}

.c3o5 {
  width: 60%;
}

.c4o5 {
  width: 80%;
}

.c1o6 {
  width: 16.666666667%;
}

.c5o6 {
  width: 83.333333333%;
}

.c1o8 {
  width: 12.5%;
}

.c3o8 {
  width: 37.5%;
}

.c5o8 {
  width: 62.5%;
}

.c7o8 {
  width: 87.5%;
}

.c1o10 {
  width: 10%;
}

.c3o10 {
  width: 30%;
}

.c7o10 {
  width: 70%;
}

.c9o10 {
  width: 90%;
}

.cols2 {
  column-count: 2;
}

.cols3 {
  column-count: 3;
}

.cols4 {
  column-count: 4;
}

.cols5 {
  column-count: 5;
}

.cols6 {
  column-count: 6;
}

.cols7 {
  column-count: 7;
}

.cols8 {
  column-count: 8;
}

.cols9 {
  column-count: 9;
}

.cols10 {
  column-count: 10;
}

.cols11 {
  column-count: 11;
}

.cols12 {
  column-count: 12;
}

.row {
  clear: both;
}
